<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-column border w-75">
    <h5 class="bg bg-dark text-white text-center py-2">Account Details</h5>
    <div class="d-inline-flex justify-content-around">
      <div class="d-flex flex-column">
        <div *ngIf="loggedInUser.customer" class="d-inline-flex align-items-baseline">
          <h6 class="mt-1">Name:</h6>
          <p class="ms-2">
            {{ loggedInUser.customer.custFirstName }}
            {{ loggedInUser.customer.custLastName }}
          </p>
        </div>
        <div class="d-inline-flex align-items-baseline">
          <h6 class="">Username:</h6>
          <p class="ms-2 mb-0">{{ loggedInUser.username }}</p>
        </div>
        <!-- <div>
          <button class="rounded-pill mb-2">Change username</button>
        </div> -->
        <div class="d-inline-flex align-items-baseline">
          <h6 class="">Password:</h6>
          <button class="rounded-pill ms-3 mt-1 mb-3" (click)="changingPasswordState = !changingPasswordState">Change password</button>
        </div>
      </div>

      <!-- separator of left and right columns -->

      <div *ngIf="loggedInUser.customer" class="d-flex flex-column">
        <div class="d-inline-flex align-items-baseline">
          <h6>Account Type:</h6>
          <p class="ms-2">{{ loggedInUser.customer.bankAcc?.accType }}</p>
        </div>
        <div class="d-inline-flex align-items-baseline">
          <h6>Account Balance:</h6>
          <p class="ms-2">${{ loggedInUser.customer.bankAcc?.accBal }}</p>
        </div>
        <div class="d-inline-flex align-items-baseline">
          <h6>Account Created:</h6>
          <p class="ms-2">
            {{ loggedInUser.customer.bankAcc?.accCreationDate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="changingPasswordState" class="d-flex flex-column shadow m-4" style="width: 30%; border-radius: 16px;">
    <h5 class="bg bg-dark text-white text-center py-2" style="border-top-left-radius: 16px; border-top-right-radius: 16px;">Change password</h5>
    <div class="d-flex flex-column p-3 ">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >
        <div class="d-flex flex-column">
        <div class="d-flex align-items-baseline">
          <label class="form-label text-nowrap" for="oldPassword"
            >Current Password:
          </label>
          <input
            formControlName="oldPassword"
            class="form-control ms-3 p-0"
            style="width: 40%;"
            type="password"
            name="oldPassword"
            id="oldPassword"
          />
        </div>
        <div class="d-flex m-1">
          <div *ngIf="oldPassword.hasError('required')" class="alert alert-danger p-1">
              <p class="m-0">Password cannot be empty</p>
          </div>
          <div *ngIf="oldPassword.hasError('minlength')" class="alert alert-danger p-1">
            <p class="m-0">At least 3 characters</p>
        </div>
      </div>
        <div class="d-inline-flex align-items-baseline">
          <label class="form-label text-nowrap" for="newPassword"
            >New Password:
          </label>
          <input
            formControlName="newPassword"
            class="form-control ms-3 p-0"
            style="width: 40%;"
            type="password"
            name="newPassword"
            id="newPassword"
          />
        </div>

        <div class="d-flex m-1">
            <div *ngIf="newPassword.hasError('passwordValidator')" class="alert alert-danger p-1">
                <p class="m-0">Password must contain at least 1 special character, 1 number, 1 uppercase and 1 lower case</p>
            </div>
            <div *ngIf="newPassword.hasError('required')" class="alert alert-danger p-1">
                <p class="m-0">Password cannot be empty</p>
            </div>
            <div *ngIf="newPassword.hasError('minlength')" class="alert alert-danger p-1">
                <p class="m-0">At least 3 characters</p>
            </div>
        </div>

        <div class="d-inline-flex align-items-baseline">
          <label class="form-label text-nowrap" for="repeatNewPassword"
            >Repeat New Password:
          </label>
          <input
            formControlName="repeatNewPassword"
            class="form-control ms-3 p-0"
            style="width: 40%;"
            type="password"
            name="repeatNewPassword"
            id="repeatNewPassword"
          />
        </div>

        <div class="d-flex m-1">
            <div *ngIf="repeatNewPassword.hasError('passwordValidator')" class="alert alert-danger p-1">
                <p class="m-0">Password must contain at least 1 special character, 1 number, 1 uppercase and 1 lower case</p>
            </div>
            <div *ngIf="repeatNewPassword.hasError('required')" class="alert alert-danger p-1">
                <p class="m-0">Password cannot be empty</p>
            </div>
            <div *ngIf="repeatNewPassword.hasError('minlength')" class="alert alert-danger p-1">
                <p class="m-0">At least 3 characters</p>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-center">
    <button class="rounded-pill" type="submit" [disabled]="changePasswordForm.invalid">Submit</button>
    <button class="ms-3 rounded-pill" (click)="handleCancel()">Cancel</button>
    </div>
        </form>
    </div>
  </div>
</div>
