<div class="d-flex justify-content-center">
  <div class="d-flex flex-column w-75 border mt-3">
    <h4 class="bg bg-dark text-white text-center py-2 mb-0">
      Welcome to Banking
    </h4>
    <div class="d-flex flex-column p-3">
      <h5>Vision</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ut,
        ipsa ipsum explicabo quod ab sequi blanditiis ducimus inventore
        voluptatibus consectetur est ullam libero voluptates, doloremque numquam
        sint architecto dolor.
      </p>

      <h5>Purpose</h5>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        mollitia eligendi ipsum magni, harum culpa eius expedita at commodi
        sint. Neque nobis iste similique ducimus sit placeat eum delectus
        recusandae?
      </p>
    </div>
  </div>
</div>
